nav{
    /* position: fixed; */
    background: rgba(0, 0, 0, 0.829);
    padding:0px 20px;
  }
  
  .box{
    margin-top: 20px;
    height: 1000px;
  }

  nav li a:hover{
    background: rgb(167, 85, 85);
  }

  .league-word{
    color: #E95B3CFF ;
  }

  .web-title{
    left: 10%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    margin-left: 70px;
  }

  .logo{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 75%;

  }
