<nav>
    <div class="nav-wrapper">
      <a href="/">
        <img src="../../assets/soccer-ball-logo.png" alt="" class="logo">
        <span  class="web-title" > <span class="league-word">League</span>Manager</span>
      </a>

       <ul class="right hide-on-med-and-down">
  
         <li><a href="/" [className]='homeButton'>Home</a></li>
         <li><a href='/news' [className]='newsButton' >News</a></li>
         <li><a href="/stats" [className]='statsButton'>Stats</a></li>
  
       </ul>
    </div>
  </nav>
